*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
  width: 70vw;  
  height: auto vh;
  background-color: antiquewhite;  
  margin: auto;
}

header{
   width: 70vw;
   height: 20vh;
  
   background-color: cyan;
   background-image: url(../img/pattern.png); 
   background-size: contain;
}

h1{
    margin-top: 4px;
    margin-left: 15px;
}

#colore_blu{
  color: blue;
}

.prima_modifica{
  font-style: italic;
  font-size: 15px;
}

#seconda_modifica{
  font-style: italic;
  font-size: 13px;
}

.sfondo_giallo{
  background-color: yellow;
}

p{
  margin-left: 15px;
}

img{
    margin-top: 5px;
    margin-left: 10px;
}

table{
  margin-top: 20px;
  margin-left: 12px;

}

#lorem{
  margin-top: 20px;
}