*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
  width: 70vw;  
  height: auto vh;
  background-color: antiquewhite;  
  margin: auto;
}

header{
   width: 70vw;
   height: 20vh;
  
   background-color: cyan;
   background-image: url(../img/pattern.png); 
   background-size: contain;
}

h1{
    margin-top: 4px;
    margin-left: 15px;
}

p{
  margin-left: 15px;
}

img{
    margin-top: 5px;
    margin-left: 10px;
}